@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

.home.ativo {
  position: fixed;
}

.banner-home{
  img{
    height: 243PX;
    width: 100%;
  }
} 

.menu-mob {
  display: none;
  z-index: 999;
  background-color: #fff;
  
  position: absolute;
  width: 260px;
  height: 100%;
  left: -100%;
  transition: all 1s ease;
  top: 0;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  li {
    list-style: none;
  }
  &.ativo {
    display: block;
    left: 0;
    transition: all 1s ease;
  }
  a {
    color: #4F4F4F;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin: 10px 0;
    display: block;
  }
  div {
    background-color: #1B4D9B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    h4 {
      color: #fff;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      margin: 0;
      padding: 0;
    }
  }
}

.bg-gray.ativo {
  background-color: #000;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 98;
  opacity: 0.8;
  display: block;
}

.only-mob {
  @media(min-width: 991px) {
    display: none!important;
  }
}

.only-desk {
  @media(max-width: 992px) {
    display: none!important;
  }
}

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 9.6px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  @media (max-width: 992px){
    font-size: 24px;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  box-shadow: 0px 4px 8px #0000001F;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .menu-hamburguer {
    cursor: pointer;
    display: flex;
    height: 40px;
    align-items: center;
    span {
      width: 29px;
      height: 3px;
      background-color: #000;
      position: relative;
      display: block;
      &:after{
        display: block;
        content: "";
        position: relative;
        top: 5px;
        width: 29px;
        height: 3px;
        background-color: #000;
      }
      &:before{
        content: "";
        position: relative;
        bottom: 8px;
        width: 29px;
        height: 3px;
        background-color: #000;
        display: block;
      }
    }
  }
  .container.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    @media(max-width: 992px) {
      justify-content: space-around;
      padding: 0;
    }
    #logo {
      max-width: 127px;
    }
    img {
      align-self: center;
    }
    #search-bar {
      all: unset;
      width: 410px;
      max-height: 40px;
      color: #4F4F4F;
      box-shadow: 0px 0px 8px #00000029;
      border: 1px solid #F8F8F8;
      border-radius: 12px;
      padding: 11px 19px;
      font-size: 13px;
    }
    #btn-search {
      width: 111px;
      height: 40px;
      background-color: #5B6D62;
      color: #fff;
      cursor: pointer;
      border: 0px solid #F8F8F8;
      box-shadow: 0px 0px 8px #00000029;
      position: relative;
      right: 15px;
      &:hover  {
        transform: scale(1.1);
        border: 0px solid #F8F8F8;
      }
    }
    #minicart {
      padding: 8px 10px;
      border: 0px solid #F8F8F8;
      box-shadow: 0px 0px 8px #00000029;
      border-radius: 4px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
#menu{
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 18px;
  @media(max-width: 992px) {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      color: #4F4F4F;
      font-size: 16px;
      margin: 0 20px;
      font-family: 'Open Sans', sans-serif;
      a {
        color: initial;
        text-decoration: none;
      }
    }
  }
}

.promocao {
  display: flex!important;
  flex-direction: column;
  .items {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    margin: 52px 0 55px;
    @media (max-width: 992px){
      margin: 42px auto 32px;
      max-width: 270px;
    }
  }
  .promo-produtos,
  .promo {
    display: flex;
    width: 488px;
    @media (max-width: 992px) {
      max-width: 650px;
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      max-width: 320px;
    }
  }
  .promo-banner {
    margin-right: 30px;
    img{
      height: 509px;
      width: 550px;
    }
  }
}

.card-produto {
  max-width: 184px;
  h4 {
    font-family: 'Open Sans', sans-serif;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: bold;
  }
  img {
    max-width: 184px;
    width: 184px;
  }
  .price {
    display: flex;
    justify-content: space-between;
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      &:nth-child(1) {
        color: #000;
      }
      &:nth-child(2) {
        color: #FF0000;
      }
    }
  }
  .input-qtd div{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 32px;
    margin: 15px 0 15px;
    input {
      max-width: 48px;
      height: 32px;
      margin: 0 8px 0;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      color: #1B4D9B;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }
    button {
      background-color: #1B4D9B;
      height: 32px;
      width: 32px;
      border-radius: 15px;
      box-shadow: none;
      border: none;
      cursor: pointer;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-content: center;
      img {
        max-width: 25px;
        max-height: 26px;
        position: relative;
        top: 2px;
      }
    }
  }
  .buy {
    border-radius: 8px;
    text-transform: uppercase;
    text-transform: ceil($number: 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 38px;
    border: none;
    box-shadow: none;
  }
  .active {
    background-color: #008939;
  }
  .off{
    background-color: #3E4742;
  }
}

.mais-vendidos {
  h2 {
    margin-bottom: 52px;
  }
  .banner-mais-vendidos {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      max-width: 100%;
      height: 243px;
      width: 100%;
      margin: 70px 0 25px;
      @media (max-width: 991px){
        height: 137px;
      }
    }
  }
  .mais-vendidos-vitrine {
    display: flex;
    justify-content: center;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  @media (min-width: 991px){
    justify-content: space-around;
  }
  @media (min-width: 768px) and (max-width: 992px){
    justify-content: center;
  }
}

.termos {
  display: flex!important;
  justify-content: center;
  margin: 90px 0 52px!important;
  p {
    text-align: center;
    max-width: 874px;
    color: #707070;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    @media (max-width: 992px){
      br {
        display: none;
      }
      max-width: 320px;
      padding: 0 24px;
    }
  }
}

footer {
  padding: 37px 0 0;
  border-top: 2px solid #F8F8F8;
  @media (max-width: 992px){
    .made-by {
      height: 100%!important;
      p {
        br {
          display: none;
        }
        padding: 10px 24px;
        margin: 0;
      }
    } 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 992px) {
      flex-direction: column;
      max-width: 320px!important;
      .categorias,
      .mapa-site,
      .fale-conosco {
        width: 100%;
        padding: 0 24px;
      }
      .mapa-site {
        margin: 0;
      }
    }
  }
  .categorias {
    display: flex;
    flex-wrap: wrap;
    max-width: 234px;
    justify-content: space-between;
  }
  a{
    line-height: 20px;
    text-decoration: none;
    margin: 10px 0;
    display: block; 
    h5 {
      margin: 0;
      color: #202020;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
  }
  .fale-conosco h5 {
    margin: 0;
    color: #202020;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 10px 0;
    line-height: 20px;
  }
  h4 {
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #1B4D9B;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    @media (max-width: 992px){
      margin-top: 40px;
    }
  }
  .categorias,
  .fale-conosco {
    width: 30%;
  }
  .mapa-site {
    margin: 0 5%;
    width: 20%;
  }
  .categorias h4{
    @media (max-width: 992px){
      margin-top: 0px;
    }
  }
  .made-by {
    background-color: #F8F8F8;
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
    p {
      text-align: center;
      max-width: 1050px;
      font-family: 'Open Sans', sans-serif;
      color: #828282;
      font-size: 12px;
    }
  }
  .social-media {
    display: flex;
    img {
      max-width: 30px;
      width: 30px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
  }
}


.container {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
  @media(max-width: 1300px) {
    max-width: 1008px;
  }
  @media(max-width: 992px) {
    max-width: 768px;
  }
  @media(max-width: 768px) {
    max-width: 320px
  }
}


